/* Mobile First - Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

 .container {
 width : 100%;
 padding : 10px ;
 color:lightpink;
 text-align: center;
 }

  /* Desktop - 768 px and up */
 @media ( min-width : 768px ) {
body{
    background-color: lightblue;
}
.container {
    
    display:grid;
    grid-template-columns: 1fr;
    gap: 16px;
    

 }
}
 /* Desktop - 1024 px and up */
 @media ( min-width : 1024px) and (  orientation : landscape  ) {
body{
    background-color: lightgreen;
}
.container {
    
    display:grid;
    grid-template-columns: 1fr;
    gap: 16px;
    

 }
}
/* Rango de ancho */
 @media ( min-width : 768px ) and ( max-width : 1023px ) { }

 /* Orientacion */
 @media ( orientation : landscape ) { }
 @media ( orientation : portrait ) { }

 /* Resolucion */
  @media ( min-resolution : 2dppx ) { }
